:root {
  --first-color: #C5DFF1;
  --sec-color: #242362;
  --third-color: #E9F6FF;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  height: 65px;
  width: 100%;
  background-color:rgba(34, 33, 44, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 15px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.box {
  padding: 180px 0 100px 0;
  background-color: var(--first-color);
  background-width: 1360px;
  background-height: 362px;
}
.container-button{
  float:right;
  padding-right: 30px;
  padding-top: 40px;
}

.container-button button{
  margin: 10px;
  height: 30px;
  border: 1px solid var(--sec-color);
  background: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.container-button button:hover{
  background: #E5EAED;
  cursor: pointer;
}
#code{
  background:var(--third-color); 
  outline: none;
  margin-left: 30px;
}
#input{
  background:var(--third-color); 
  outline: none;
  margin-right: 30px;
}
#output{
  background:var(--third-color); 
  outline: none;
  margin-right: 30px;
}
.title{
  padding-top: 10px;
  padding-left: 30px;
}
.title h1{
  color: var(--sec-color);
  font-size: 40px;
}
.box-code{
  background: var(--sec-color);
  border-radius: 15px 15px 0px 0px;
  width: 700px;
  height: 50px;
  text-align: center;
  float: left;
  margin-top: 50px;
  margin-left: 30px;
}
.box-code p{
  color: #ffffff;
  font-family: 'Consolas';
  font-size: 20px;
  align-content: center;
}
.box-input{
  background: var(--sec-color);
  border-radius: 15px 15px 0px 0px;
  width: 580px;
  height: 50px;
  text-align: center;
  float:right;
  margin-right: 30px;
}
.box-input p{
  color: #ffffff;
  font-family: 'Consolas';
  font-size: 20px;
  align-content: center;
}
.button-submit:hover{
    background : #309BE4;
}
.button-submit{
    width: 95px;
    height: 35px;
    background: #53B2F2;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Consolas';
    font-size: 16px;
   }
.button-submit:focus{
    outline: none;
}
.button-run:hover{
    background : #309BE4;
}
.button-run{
    width: 95px;
    height: 35px;
    background: #53B2F2;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Consolas';
    font-size: 16px;
   }
.button-run:focus{
    outline: none;
}
.box-output{
  background: var(--sec-color);
  border-radius: 15px 15px 0px 0px;
  width: 580px;
  height: 50px;
  text-align: center;
  float:right;
  margin-right: 30px;
  margin-top: 20px;
}
.box-output p{
  color: #ffffff;
  font-family: 'Consolas';
  font-size: 20px;
  align-content: center;
}
.button-share:hover{
    background : #309BE4;
}
.button-share{
    width: 95px;
    height: 35px;
    background: #53B2F2;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Consolas';
    font-size: 16px;
    margin-left: 10px;
   }
.button-share:focus{
    outline: none;
}
