:root {
  --first-color: #C5DFF1;
  --sec-color: #242362;
  --third-color: #E9F6FF;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  height: 65px;
  width: 100%;
  background-color:rgba(34, 33, 44, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 15px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.box {
  padding: 180px 0 100px 0;
  background-color: var(--first-color);
  background-width: 1360px;
  background-height: 362px;
}

.container-button{
  float:right;
  padding-right: 30px;
  padding-top: 40px;
}

.container-button button{
  margin: 10px;
  height: 30px;
  border: 1px solid var(--sec-color);
  background: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.container-button button:hover{
  background: #E5EAED;
  cursor: pointer;
}
.title{
  padding-top: 10px;
  padding-left: 60px;
}
.title h1{
  color: var(--sec-color);
  font-size: 40px;
}
.box-option{
  padding-top: 0px;
}
.button-submit:hover{
    background : #309BE4;
}
.button-submit{
    margin-right: 70px;
    float: right;
    width: 95px;
    height: 35px;
    background: #53B2F2;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 16px;
   }
.button-submit:focus{
    outline: none;
}
.box-notes{
  margin-top: 100px;
  margin-left: 50px;
  margin-bottom: 100px;
  resize: none;
  margin-right: 50px;
}
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

.share-overlay{
    position: fixed;
    width: 432px;
    height: 208px;
    top:250px;
    left:490px;
    background: #FFFFFF;
    box-shadow: 0px 4px 32px 700px rgba(0, 0, 0, 0.4);
    border-radius: 12px;
}
.collab{
    position: absolute;
    width: 320px;
    height: 36px;
    left: 30px;
    top: 30px;
    font-family: Roboto;
    font-size: 18px;
    line-height: 21px;
    text-align: left;
    color: #000000;

}
#no-button{
    position: absolute;
    left: 70px;
    top: 120px;
    bottom: 20px;
    width: 108px;
    height: 41px;
    background: #FFFFFF;
    border: 1px solid #53B2F2;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    font-family: Roboto;
}
#no-button:focus{
    outline: none;
}
#yes-button:hover{
    background : #309BE4;
}
#yes-button{
    position: absolute;
    left: 165px;
    top: 150px;
    bottom: 20px;
    width: 108px;
    height: 41px;
    background: #53B2F2;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
    font-family: Roboto;
}
#yes-button:focus{
    outline: none;
}
#no-button:hover{
    background : #E7E7E7;
}
.delete-overlay{
    position: fixed;
    width: 432px;
    height: 208px;
    left: 490px;
    top: 250px;
    background: #FFFFFF;
    box-shadow: 0px 4px 32px 700px rgba(0, 0, 0, 0.4);
    border-radius: 12px;
}
.sure-delete{
    position: absolute;
    width: 300px;
    height: 160px;
    left: 70px;
    top: 30px;
    font-family: Roboto;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: #000000;
}
#overlay1 {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}
#no-delete{
    position: absolute;
    left: 67px;
    top: 140px;
    bottom: 20px;
    width: 108px;
    height: 41px;
    background: #FFFFFF;
    border: 1px solid #53B2F2;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    font-family: Roboto;
}
#yes-delete{
    position: absolute;
    left: 260px;
    top: 140px;
    bottom: 20px;
    width: 108px;
    height: 41px;
    background: #53B2F2;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
    font-family: Roboto;
}
#no-delete:focus{
    outline: none;
}
#yes-delete:hover{
    background : #309BE4;
}
#yes-delete:focus{
    outline: none;
}
#no-delete:hover{
    background : #E7E7E7;
}

footer p {
  color: #ffffff;
  font-size: 18px;
}

footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color:var(--sec-color);
}

.container-foot {
  max-width: 1170px;
  width: 100%;
  padding: 0 5px;
  margin: 0 auto;
}
